<tr>
  <td><%= f.text_field :service %></td>
  <td class="text-right"><%= f.text_field :quantity %></td>
  <td class="text-right"><%= f.text_field :price %></td>
  <td class="text-right"><%= f.text_field :subtotal %></td>
</tr>
